quarkus.http.port=3000
quarkus.mongodb.connection-string=mongodb://localhost:27017/pand

# Logging configuration
quarkus.log.file.enable=true
quarkus.log.file.async=true
quarkus.log.file.path=/tmp/pand_server.log
quarkus.log.file.rotation.max-backup-index=5
quarkus.log.file.rotation.max-file-size=100M
